<div class="article">

                <div class="title">
                    <h2>
                        <a href="<%- site.URL %>/<%- posts.uri %>">
                            <%- posts.title %>
                        </a>
                    </h2>
                </div>
                <div class="subtitle">
                    <%- posts.created_at %>
                </div>
                <div class="content">

                    <%- posts.body %>

                </div>

                <div class="footer">
                </div>

</div>

